
{% for article in articles %}
             <div class="card" style="margin-top: 25px">
              {% if article.image %}
                    <img src="{{ article.image.url }}" alt="">
                {% else %}
                    <img src=".." alt="..">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.author }}</h5>
                    <h5 class="card-title">{{ article.description }}</h5>
                </div>

            </div>
    {% empty %}
    <h2 class="text-center">Нет статей</h2>
{% endfor %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}